header {
    position: fixed;
    top: 0;

    background: #fff;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 88.5px;
    padding: 50px 250px;
}

.collection-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Helvetica Bold Oblique';
    font-size: 64px;
}

.items-frame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12.5px;
}

.item {
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    aspect-ratio: 1;

    object-fit: cover;
    background: rgba(0, 0, 0, 0.0625);
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 12.5px;

    padding: 12.5px 0;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
}

.item-price {
    font-size: 14px;
}

@media (max-width: 1200px) {
}

@media (max-width: 750px) {
    main {
        gap: 25px;

        margin-top: 50px;
    }
    
    .items-frame {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 350px) {
    .items-frame {
        grid-template-columns: 1fr;
    }
}