header {
    position: fixed;

    background: #fff;
}

main {
    display: flex;
    align-items: center;

    height: 100dvh;
    
    padding: 50px 250px;
}

.item {
    display: flex;
    gap: 25px;

    width: 100%;
    height: fit-content;
}

.item-img {
    width: 100%;

    aspect-ratio: 1;
    background: rgba(0, 0, 0, 0.025);
}

.item-img img {
    width: 100%;
    height: 100%;

    vertical-align: middle;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    width: 100%;
}

.item-info-top {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item-main-info {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.item-title {
    font-size: 32px;
    font-weight: bold;
}

.item-price {
    font-size: 18px;
}

.description {
    font-size: 14px;
}

.size {
    display: flex;
    gap: 12.5px;
}

.size li {
    padding: 5px 10px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.025);
    text-transform: uppercase;
    cursor: pointer;
}

.size input:checked ~ li {
    background: #000 !important;
    color: #fff;
}

.item-info-center {
    width: calc((100vw - 500px) / 2);

    overflow-x: scroll;
    scrollbar-width: none;
}

.item-imgs {
    display: flex;
    gap: 12.5px;

    width: fit-content;
}

.item-imgs li {
    width: 150px;
    aspect-ratio: 1;

    background: rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

.item-imgs img {
    width: 100%;
    height: 100%;

    vertical-align: middle;
}

.item-info-bottom {
    display: flex;
    gap: 12.5px;
}

.add-button, .random-button {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 15px;
}

.add-button {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.random-button {
    background: rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

.item-main-info-center {
    display: flex;
    justify-content: space-between;
}

.item-main-info-center .size {
    display: none;
}

@media (max-width: 1200px) {
    .item-info-center {
        width: calc((100vw - 50px - 12.5px) / 2);
    }
}

@media (max-width: 750px) {	
    main {
        align-items: start;

        margin-top: 50px;
        margin-bottom: 73.5px;
    }
    
    .item {
        flex-direction: column;
        gap: 12.5px;
        
        /* height: 100%; */
    }
    
    .item-imgs li {
        width: 150px;
    }
    
    .item-info {
        justify-content: start;
        gap: 12.5px;
        
        height: fit-content;
    }
    
    .item-info-center {
        width: calc(100vw - 25px);
    }

    .item-main-info-center .size {
        display: flex;
    }

    .item-info-top {
        gap: 12.5px;
    }

    .item-info-top > .size {
        display: none;
    }

    .item-info-bottom {
        position: fixed;
        bottom: 0;

        width: calc(100% - 12.5px);

        padding: 12.5px 0;
        background: #fff;
    }
}
